body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.image-container {
    background-image: url('/static/images/welcome.jpg');
    background-size: cover;
    padding: 0px;
    color: navy;
}

.welcome-container {
    background-color: rgb(227, 95, 23);
    background-size: cover;
    padding: 50px;
    color: navajowhite;
}
.welcome-container {
    background-size: cover;
    padding: 50px;
    color: navajowhite;
}

.navigation a, .directory a {
    margin: 40px;
    color: navajowhite;
    text-decoration: none;
}

/* Gallery and Exhibition Page Styles */
.content-container {
    margin: 20px;
    padding: 20px;
    background-color: navajowhite;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
}

.gallery-list, .exhibition-list {
    list-style-type: none;
    padding: 0;
}

.gallery-item, .exhibition-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.gallery-item h2, .exhibition-item h2 {
    color: #333;
    margin-top: 0;
}

/* Existing styles */

.artwork-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.artwork-item {
    text-align: center;
}

.artwork-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.artwork-details {
    text-align: center;
    padding: 20px;
}

.artwork-details img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

/* Additional styling as needed */
.auth-form-container {
    max-width: 600px;
    margin: 200px auto;
    padding: 100px;
    background-color: navajowhite;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.auth-form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-form-container input[type="text"],
.auth-form-container input[type="password"],
.auth-form-container input[type="email"],
.auth-form-container input[type="number"],
.auth-form-container textarea,
.auth-form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.auth-form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(247, 150, 5);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form-container button[type="submit"]:hover {
    background-color: #3949AB;
}
