body {
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: auto; /* Hide any overflowing content */
}
.image-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative; /* Change this to relative */
}

/* CSS Styles */
.image-fit {
    width: 100%; /* Make the image width 100% of its container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    display: block; /* Remove any default inline alignment */
}

.welcome-container {
    background-color: rgb(227, 95, 23);
    color: navajowhite;
}

.welcome-container {
    background-color: rgb(227, 95, 23);
    background-size: cover;
    padding: 60px;
    color: navajowhite;
    position: relative; /* Add this for z-index */
}

.welcome-container {
    background-size: cover;
    padding: 55px;
    color: navajowhite;
}

.navigation a, .directory a {
    margin: 50px;
    color: navajowhite;
    text-decoration: none;
}

/* Gallery and Exhibition Page Styles */
.content-container {
    margin: 20px;
    padding: 20px;
    background-color: navajowhite;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.gallery-list,
.exhibition-list {
    list-style-type: none;
    padding: 0;
}

.gallery-item,
.exhibition-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery-item h2,
.exhibition-item h2 {
    color: #333;
    margin-top: 0;
}

.basket-view {
    position: fixed;
    color: rgb(227, 95, 23);
    bottom: 10px;
    right: 10px;
    width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    /* Transparency set here */
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    z-index: 100;
    max-height: 370px;
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.basket-items {
    max-height: 250px;
    overflow-y: auto;
}

.basket-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.basket-item img {
    width: 100%;
    height: auto;
    max-height: 100px; /* Maximum height for the image */
    object-fit: cover; /* Resize image to fill the container */
}

.basket-artwork-details {
    flex-grow: 1;
}

.basket-artwork-title {
    font-weight: bold;
}

.basket-artwork-price {
    /* Styling for price */
}

.basket-summary {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.basket-actions {
    margin-top: 10px;
    text-align: center;
}

.basket-actions button {
    padding: 8px 16px;
    /* Rest of the button styling */
}

/* .artwork-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: start;
}

.artwork-column {
    display: grid;
    grid-template-rows: auto auto 1fr; 
    gap: 10px;
}

.artwork-item img {
    width: 100%;
    height: auto;
    max-height: 1000px; 
    object-fit: cover; 
} */

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    background-color:#333;
    padding: 10px;
    color: #fff;
    margin: 2px;
}

.navigation-buttons a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-right: 10px;
}

.navigation-buttons a:hover {
    background-color: rgb(227, 95, 23);
}

.artwork-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust to your desired number of columns */
    gap: 20px;
}

.artwork-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.artwork-item img {
    width: 100%;
    height: auto;
    max-height: 1000px; 
    object-fit: cover; }

.artwork-rating, .artwork-comments {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.artwork-comments ul {
    list-style-type: none;
    padding: 0;
}

.artwork-comments li {
    margin-bottom: 5px;
}


/* .artwork-details {
    text-align: center;
    padding: 20px;
}

.artwork-details img {
    width: 50%;
    height: auto;
    border-radius: 8px;
} */

.artwork-detail-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.artwork-detail-container img.artwork-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.artwork-detail-container p {
    text-align: left;
    line-height: 1.6;
}

/* Further styling as needed */


/* Additional styling as needed */
.auth-form-container {
    max-width: 600px;
    margin: 200px auto;
    padding: 100px;
    background-color: navajowhite;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-form-container input[type="text"],
.auth-form-container input[type="password"],
.auth-form-container input[type="email"],
.auth-form-container input[type="number"],
.auth-form-container textarea,
.auth-form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.auth-form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(247, 150, 5);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form-container button[type="submit"]:hover {
    background-color: #3949AB;
}

