<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Artworks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="artwork-grid">
        {% for artwork in artworks %}
            <div class="artwork-column">
                <div class="artwork-item">
                    <a href="{{ url_for('artwork_details', artwork_id=artwork.ArtworkID) }}">
                        <img src="{{ url_for('static', filename='Artworks/' + artwork.ArtworkID|string + '.jpg') }}" alt="{{ artwork.ATitle }}">
                        <h3>{{ artwork.ATitle }}</h3>
                    </a>
                </div>
                <div class="artwork-rating">
                    <p>Average Rating: {{ artwork.average_rating }}</p>
                </div>
                <div class="artwork-comments">
                    <ul>
                        {% for user_name, comment in artwork.comments %}
                            <li><span {% if user_name == 'artistUserName' %}style="color: blue;"{% endif %}>{{ user_name }}</span>: {{ comment }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
