<!-- exhibition_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify Exhibitions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content-container">
        <h1>Art Exhibitions</h1>
        <ul class="exhibition-list">
            {% for exhibition in exhibitions %}
                <li class="exhibition-item">
                    <h2>
                        <a href="{{ url_for('exhibition_details', exhibition_id=exhibition.ExhibitionID) }}" class="exhibition-button">
                            {{ exhibition.ETitle }}
                        </a>
                    </h2>
                    <p>{{ exhibition.StartDate }} to {{ exhibition.EndDate }}</p>
                    <!-- Additional exhibition details here -->
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
