<!-- galleries.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artify Galleries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        a {
            color: navajowhite;
        }
    </style>
</head>
<body>
    <div class="navigation-buttons">
        <a href="{{ url_for('welcome') }}">Welcome</a>
        <a href="{{ url_for('artworks') }}">Artworks</a>
    </div>    
    <div class="content-container">
        <h1>Art Galleries</h1>
        <ul class="gallery-list">
            {% for gallery in galleries %}
                <li class="gallery-item">
                    <h2>
                        <a href="{{ url_for('gallery_details', gallery_id=gallery.GalleryID) }}" class="gallery-button">
                            {{ gallery.GName }}
                        </a>
                    </h2>
                    <p>{{ gallery.GAddress }}</p>
                    <!-- Additional gallery details here -->
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
