<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Artify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <div class="navigation" style="text-align: right;">
            {% if not session.logged_in %}
             <a href="/signup">Sign Up</a>
            {% endif %}  
            
            {% if not session.logged_in %}
            | <a href="/login">Log In</a>
            {% endif %}

            {% if session.logged_in %}
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
        </div>
        <h1>Welcome to Artify</h1>
        <p>Your one-stop destination for exploring and purchasing art.</p>
        <div class="directory">
            <a href="/galleries">Galleries</a> | 
            <a href="/exhibitions">Exhibitions</a> | 
            <a href="/artworks">Artworks</a> | 
            <a href="/profile">Profile</a>
        </div>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/welcome.jpg') }}" alt="Welcome to Artify" class="image-fit">
    </div>
</body>
</html>
